#avantage img{
    width: 20%;
    min-width: 102px;
    margin-bottom: 30px;
}

#avantage .flex-container{
    display: flex;
    align-items: center;
}

#avantage .flex-container .flex-content{
    margin-left: 6%;
}

#avantage h1{
    margin-bottom: 60px;
}