#presentation {
    height: 100vh;
    width: 100vw;
    background: black;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second {
    background: black;
    height: 100vh;
    width: 100vw;
}

.third {
    background: red;
    height: 100vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
}