@font-face {
    font-family: "Aliens and cows";
    src: url("../fonts/aliens_and_cows/aliens\ and\ cows_trial.ttf");
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  

#presentation {
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
}

#association {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-justify: inter-word;
}

.equipes {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    overflow-x: hidden;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

#evenements{
    margin-bottom: 60px;
}

#support{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;
}

#avantage{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;
}


#adhere{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;
}

#terms{
    margin-bottom: 60px;
}

#qcq{
    margin-bottom: 60px;
}

#rules{
    margin-bottom: 60px;
}

h1{
    font-family: "Aliens and cows",sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 5rem;
}

h2, h3{
    font-family: "Aliens and cows",sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.9rem;
}

p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}

.link {
    transition: background-size .4s ease;
    background: linear-gradient(to bottom, transparent 62%, #f0c989 0) center center/0% 75% no-repeat;
    padding: 0 6px 2px 6px;
    cursor: pointer;
    letter-spacing: .08rem;
  }
  .link:hover {
    background-size: 100% 100%;
  }
  .link:active {
    background-size: 80% 100%;
  }
  