#presentation {
    height: 100vh;
    width: 100vw;
    background: url('../imgs/pres.png') no-repeat center    ;
    -webkit-background-size: cover;
    background-size: cover;
    opacity:0.8;
    z-index: 0;
    text-align: center;
    color: white;
}

.second {
    background: black;
    height: 100vh;
    width: 100vw;
}

.third {
    background: red;
    height: 100vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
}