.equipes h1{
    margin-top: 20px;
    font-size: 5em;
    margin-bottom: 60px;
    text-align: center;
  }

  .game-icon{
    width: 30px;
  }

  .info-teams{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .info-teams img{
    width: 150px;
    margin-left: 100px;
  }

  .info-teams p{
    margin-left: 60px;
    margin-right: 150px;
  }

  .mySlides .content h3{
    margin-top: 25px;
  }

  .activeSlide{
    animation: rigthToLeft ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }

  @keyframes rigthToLeft { 
    0% {
        margin-left: 100%;
      }
    
      100% {
        margin-left: 0%;
      }
} 


.player-card-group {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    align-content: stretch;
    justify-content: center;
}

.player-card-group .player-card {
    flex: 0 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
}

.player-card-group .player-card {
    margin-left: 10px;
    margin-right: 10px;
}

.player-card-group .player-card {
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 48px;
    padding-bottom: 40px;
    background-color: 
    #FAFAFA;
    border-radius: 23px;
    margin-top: 20px;
}

.player-card-group .player-card .player-card-image {
    margin-left: auto;
    margin-right: auto;
    background-image: url("../imgs/outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 164px;
    height: 164px;
    margin-bottom: 10px;
}

[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}

[data-aos-easing="ease"] [data-aos] {
    transition-timing-function: ease;
}

[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}

[data-aos^="zoom"][data-aos^="zoom"] {
    opacity: 0;
    transition-property: opacity,transform;
}

.player-card-group .player-card .player-card-image img {
    margin: auto;
    padding-top: 10px;
    padding-left: 13px;
    width: 150px;
    margin-left: -13px;
}

.player-card-group .player-card .player-card-icon {
    margin-left: auto;
    margin-right: auto;
    height: 47px;
    margin-bottom: 15px;
    display: flex;
}

.player-card-group .player-card .player-card-icon img {
    align-self: flex-end;
    width: 43px;
}

.player-card-group .player-card .player-card-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.player-card-group .player-card .player-card-text h6 {
    font-weight: bold;
    text-transform: uppercase;
}