.nav-mobile{
    display: none;
}

.nav-pc ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-pc ul li {
    list-style-type: none;
    margin: 10px;
}

.nav-pc ul {
    text-transform: uppercase;
    font-weight: 500;
}

.nav-pc ul * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav-pc ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 2em;
    padding: 0;
}

.nav-pc ul .main-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-pc ul .main-nav {
    width: 100%;
}

.nav-pc ul .main-nav ul li{
    font-size: 12px;
}

.nav-pc-right ul{
    display: flex;
}

.nav-pc .main-nav ul a {
    display: inline-block;
    padding: 0.5em 17px;
    color: rgba(0, 0, 0, 0.664);
    position: relative;
    letter-spacing: 2.75px;
    text-decoration: none;
}

.nav-pc ul .main-nav ul a:before {
    left: 20%;
    right: 20%;
    top: 50%;
    content: '';
    border-left: 12px solid #f0c989;
    border-right: 12px solid #f0c989;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 3px;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav-pc ul .main-nav ul a:hover,
.nav-pc ul .main-nav ul .current a {
    color: black;
}

.nav-pc ul .main-nav ul a:hover:before,
.nav-pc ul .main-nav ul .current a:before {
    left: 0;
    right: 0;
    opacity: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
}

.sticky-mobile{
    position: fixed;
    top: 0;
    width: 100%;
}

.img-ste{
    width: 30px;
    opacity: 0.4;
}

.nav-pc-left{
    margin-left: auto;
}

.content-nav-mobile{
    display: none;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 1373px) {
    .nav-pc{
        display: none;
    }
    .content-nav-mobile{
        display: initial;
    }

    .open-mobile-nav{
        position: fixed;
        right: 10px;
        top:0;
    }

    /* Main menu positionning */
.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: transparent;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.mobile-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* Yellow band effect */
.mobile-nav::before {
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #f0c989;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.mobile-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.mobile-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.mobile-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.mobile-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.mobile-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.mobile-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.mobile-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.mobile-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.mobile-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.mobile-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.mobile-nav ul,
.mobile-nav li {
	list-style: none;
	padding: 0;
}
.mobile-nav a {
	display: block;
	padding: 12px 0;
	color: black;
	font-size: 3.5em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-mobile-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-mobile-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: black;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: black;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

 /* MENU Text part */

 .burger-text {
	display: block;
	font-size: 1.2rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: black;
 }

 .network-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .network-mobile a{
     margin: 10px;
 }
}
