#img-presentation{
    width: 110px;
    margin-bottom: 60px;
}


#presentation #pres-text{
    width: 100vw;
    height: 96vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../imgs/hatched2.jpg');
    background-size: contain; 
}

#presentation #pres-transition {
    width: 100vw;
    height: 4vh;
    background: url('../imgs/hatched3.png') no-repeat;
    background-size: contain; 
}

#presentation #pres-text h1{
    font-size: 4em;
    border: solid white 2px;
    width: 37%;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}




@media screen and (max-device-width : 1373px) {
    #presentation #pres-text h1{
        font-size: 7em;
        border: solid white 3px;
        width: 50%;
        margin-top: 25%;
        margin-bottom:  10%;
    }
    
    #img-presentation{
        width: 250px;
        margin-bottom: initial;
    }

    #presentation #pres-text p{
        font-size: 2em;
    }
}

@media screen and (max-device-width: 1366px) and (orientation: landscape){
    #presentation #pres-text h1{
        font-size: 2em;
        border: solid white 3px;
        width: 43% !important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
    #img-presentation{
        width: 110px !important;
    }
    
    #presentation #pres-text p{
        font-size: 1em !important;
    }
}